body{
  background: linear-gradient(-90deg, #aab9bd,#eef1f2);
}

.btn{
  width: 100px;
  height: 100px;
  border: none;
  background-color: rgba(255, 0, 0, 0.0);;
}

#imagenbebe{
  position: absolute;
  top:350px;
  left: 600px;
  opacity: 0.3;
}

.progress{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10 px;
  background: #333;

}

#bar0{
  width: 0%;
  height: 10px;
  background-color: #2c80af;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
